.contact-form__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 1rem;
  width: 100%;

  .modal__close {
    background: url(../assets/images/close-white.svg) center center / 100% 100%
      no-repeat transparent;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    z-index: 12;

    cursor: pointer;

    &:focus {
      @include focus(#{$clr-primary});
      border-radius: 45%;
    }
  }

  img {
  }

  h1 {
    font-size: 2.5rem;
    font-weight: normal;
    color: black;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;

  .form__data {
    display: flex;
    flex-direction: column;
    align-items: self-start;

    width: 100%;
    margin: 0.55rem 0;

    label {
      color: #312e2e;
      font-size: 1.5rem;
      margin-bottom: 0.25rem;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.75rem;
      border: none;
      border-radius: 5px;
      outline: none;

      &.data-error {
        border: 2px solid red;
        background-color: #f0f0f0;
      }

      &:focus {
        @include focus(#{$clr-primary});
      }
    }
  }

  button {
    display: flex;

    margin-top: 1rem;
    padding: 1rem 3rem;

    border: none;
    border-radius: 5px;
    outline: none;
    background: #901c1c;

    font-size: 1rem;
    font-weight: 700;
    color: #fff;

    cursor: pointer;

    &:focus {
      @include focus(#{$clr-white});
    }
  }
}

/* Errors */

.form__data[data-error]::after {
  content: attr(data-error);

  display: block;
  justify-content: right;

  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;

  font-size: 0.75rem;
  color: #ffffff;
  text-align: right;
  line-height: 0.3;

  opacity: 1;
  transition: 0.3s;
}
