.custom-select__container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;

  width: 100%;
  margin-bottom: 1rem;
}

select {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.9);
  font-size: 1.5rem;
  padding: 1em 3em 1em 1.5em;
  background-color: #901c1c;
  color: white;
  border: 0;
  cursor: pointer;
}

.custom-select {
  position: relative;
}

.custom-arrow {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 4em;
  height: 100%;

  pointer-events: none;
  background-color: #901c1c;
}

.custom-arrow::before,
.custom-arrow::after {
  --size: 0.65em;

  content: "";
  position: absolute;
  // width: 1rem;
  // height: 1rem;
  // background-color: aqua;
  top: 40%;
  left: 40%;
  // transform: translate(-50%, -50%);
}

.custom-arrow::before {
  background: url(../assets/images/arrow-white.svg) center center / 100% 100%
    no-repeat transparent;
  width: 1rem;
  height: 1rem;
  border: none;
  transform: rotate(90deg);
}

// .custom-arrow::before {
//   border-left: var(--size) solid transparent;
//   border-right: var(--size) solid transparent;
//   border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);

//   top: 40%;
// }

// .custom-arrow::after {
//   border-left: var(--size) solid transparent;
//   border-right: var(--size) solid transparent;
//   border-top: var(--size) solid rgba(255, 255, 255, 0.5);

//   top: 60%;
// }

.option {
  display: block;
  padding: 1rem;
  background-color: aliceblue;
  font-size: 4rem;
}
