// $color-button: rgb(144, 28, 28);
// $color-button-hover: rgb(219, 136, 118);

.dropdown-menu__container {
  display: flex;
  align-items: center;

  gap: 1rem;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

label {
  min-width: fit-content;
}

.select-wrapper {
  position: relative;
  user-select: none;
  width: 170px;
}

.select {
  position: relative;
  display: flex;
  flex-direction: column;
}

.select__trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  background: $color-button;
  cursor: pointer;

  padding: 1rem 1rem;
  font-size: 1rem;
  color: white;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 2px solid $color-button;
  border-top: 0;
  background: $color-button;

  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  display: block;
  position: relative;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 300;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

hr {
  width: 75%;
  background-color: white;
  color: white;
}

.custom-option:hover {
  cursor: pointer;
  background-color: $color-button-hover;
}

.custom-option.selected {
  background-color: white;
  color: $color-button;
  // background-color: #305c91;
}

.arrow {
  position: relative;
  height: 1.25rem;
  width: 1.25rem;
  margin-left: 2rem;
}

.arrow::after {
  content: "";
  background: url(../assets/images/arrow-white.svg) center center / 100% 100%
    no-repeat;
  width: 1rem;
  height: 1rem;
  border: none;

  position: absolute;
  transform: rotate(-90deg);
}

.open .arrow::after {
  transform: rotate(90deg);
}
