header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;

  a:focus {
    @include focus;
  }
}

h1 {
  font-size: 2.25rem;
  color: $clr-primary;
}

.logo {
  height: 50px;
}
