.photographer__section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 150px;

  article {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a {
      text-decoration: none;
      margin: 0;
      padding: 0;
    }

    a:focus {
      @include focus;
    }
  }
}

.card__linkBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;

    @include shadow;
  }

  h2 {
    color: $clr-secondary;
    font-size: 36px;
    margin: 1rem 0;
    white-space: nowrap;
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  .card__location {
    font-size: 1.35rem;
    color: $clr-primary;
  }

  .card__price {
    color: $clr-gray;
    font-size: 0.9rem;
  }
}
