.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10;
  overflow: auto;

  padding: 62px 195px;

  animation: lightboxIn 0.5s;

  button {
    opacity: 1;
    text-indent: -4000px;
    transition: opacity 0.3s;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.5;
  }

  &.fadeOut {
    opacity: 0;
    display: none;
  }
}

.lightbox__next,
.lightbox__prev {
  background: url(../assets/images/arrow.svg) center center / 100% 100%
    no-repeat;
  width: 1.5rem;
  height: 2.25rem;
  border: none;
  position: fixed;
  top: 50%;
  right: 2rem;
  margin-top: -1.125rem;
  z-index: 11;
}

.lightbox__prev {
  right: auto;
  left: 1rem;
  transform: rotate(180deg);
}

.lightbox__close {
  background: url(../assets/images/close.svg) center center / 100% 100%
    no-repeat transparent;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 12;
}

.lightbox__container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  img {
    max-width: 100%;
    height: auto;

    animation: lightboxIn 0.5s;
  }
}

.lightbox__loader {
  width: 3rem;
  height: 3rem;
  opacity: 0.75;
  background: url("../assets/images/loader.svg") center center no-repeat;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
    transform: translateY(-1000px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*=============== For tablet devices ===============*/

@media screen and (max-width: 992px) {
  .lightbox {
    padding: 0;
  }

  .lightbox__container {
    margin: 50px;
  }
}
