.photographer__header {
  position: relative;
  margin-top: 1rem;
}

.photographer-header {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  align-items: center;

  background-color: $clr-white;

  // height: 300px;
  padding: 3rem 3.1rem;

  .desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      font-size: 4rem;
      color: $clr-secondary;
    }

    &__location {
      font-size: 1.5rem;
      color: $clr-primary;
    }

    &__tagline {
      font-size: 1.1rem;
    }
  }

  button {
    padding: 1rem 2rem;
    margin: 0 auto;
    border: none;

    border-radius: 5px;
    background-color: #901c1c;

    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;

    cursor: pointer;

    &:hover {
      background-color: $color-button-hover;
      color: black;
    }

    &:focus {
      background-color: $color-button-hover;
      @include focus;
    }
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    object-fit: cover;
  }
}

.media__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  background-color: #fafafa;
  width: 100%;
  margin-bottom: 150px;

  .photograph-media-card {
    display: flex;
    flex-direction: column;
    position: relative;

    margin: 0 auto;
    color: #901c1c;
    max-width: 100%;

    .videoWarning {
      position: absolute;
      top: 40%;
      left: 45%;
      color: white;
      font-size: 1.5rem;
      user-select: none;
      z-index: 0;
    }

    img {
      width: 300px;
      height: 250px;
      object-fit: cover;
      border-radius: 5px;
      cursor: pointer;

      &:focus {
        @include focus;
      }
    }

    video {
      width: 300px;
      height: 250px;
      object-fit: cover;
      border-radius: 5px;
      cursor: pointer;

      &:focus {
        @include focus;
      }
    }

    .desc__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      margin-top: 0.6rem;

      .desc__title {
        max-width: 250px;

        font-size: 1.1rem;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .like__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .like__number {
          font-size: 1rem;
          margin-right: 0.35rem;
          color: #000000;
        }

        .like__icon {
          font-size: 1rem;
        }
      }
    }
  }
}

.photographer-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  bottom: 0;
  right: 2rem;

  width: 376px;
  padding: 1.4rem 2rem;

  background-color: #db8876;
  border-radius: 5px;

  .like__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .like__number {
      font-size: 1.5rem;
      margin-right: 0.35rem;
      color: #000000;
    }

    .like__icon {
      font-size: 1.5rem;
    }
  }

  .price {
    font-size: 1.5rem;
  }
}
