.photograph__header {
  position: relative;
}

.photograph-header {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  align-items: center;

  background-color: #fafafa;

  height: 300px;
  padding: 0 3.1rem;

  .desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      font-size: 4rem;
      color: #d3573c;
    }

    &__location {
      font-size: 1.5rem;
      color: #901c1c;
    }

    &__tagline {
      font-size: 1.1rem;
    }
  }

  button {
    padding: 1rem 2rem;
    margin: 0 auto;
    border: none;

    border-radius: 5px;
    background-color: #901c1c;

    font-size: 1.25rem;
    font-weight: 700;
    color: white;

    cursor: pointer;

    &:focus {
      border: 2px solid black;
    }
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    object-fit: cover;
  }
}

.media__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  background-color: #fafafa;
  width: 100%;

  .photograph-media-card {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    color: #901c1c;
    max-width: 100%;

    img {
      width: 300px;
      height: 250px;
      object-fit: cover;
      border-radius: 5px;
      cursor: pointer;
    }

    video {
      width: 300px;
      height: 250px;
      object-fit: cover;
      border-radius: 5px;
    }

    .desc__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      margin-top: 0.6rem;

      .desc__title {
        max-width: 250px;

        font-size: 1.5rem;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .like__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .like__number {
          font-size: 1rem;
          margin-right: 0.35rem;
          color: #000000;
        }

        .like__icon {
          font-size: 1rem;
        }
      }
    }
  }
}

//
//
//
.photograph-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  bottom: 0;
  right: 2rem;

  width: 376px;
  padding: 1.4rem 2rem;

  background-color: #db8876;
  border-radius: 5px;

  .like__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .like__number {
      font-size: 1.5rem;
      margin-right: 0.35rem;
      color: #000000;
    }

    .like__icon {
      font-size: 1.5rem;
    }
  }

  .price {
    font-size: 1.5rem;
  }
}
