$clr-primary: #901c1c;
$clr-secondary: #d3573c;
$clr-secondary-light: #db8876;
$clr-gray: #525252;
$clr-white: #fafafa;

$color-text-light: $clr-gray;
$color-background: white;
$color-button: $clr-primary;
$color-button-hover: $clr-secondary-light;

@mixin focus {
  outline: 3px solid $color-button-hover;
  border-radius: 2px;
}

@mixin shadow {
  box-shadow: 0 0 6px hsla(0, 0%, 50%, 0.5);
}
