@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 1rem;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
p,
ul,
form {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  position: relative;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

h1 {
  font-size: 2.25rem;
  color: #901c1c;
}

.logo {
  height: 50px;
}

.photographer_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photographer_section article img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  margin: 1rem 0;
  white-space: nowrap;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
}

.photographer_section article a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.card__linkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__location {
  font-size: 1.35rem;
  color: #901c1c;
}

.card__price {
  color: gray;
  font-size: 0.9rem;
}

/* @media screen and (max-width: 640px) {
  
  } */
.photograph__header {
  position: relative;
}

.photograph-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr 1fr;
      grid-template-columns: 1.5fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  height: 300px;
}

.photograph-header .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.photograph-header .desc h1 {
  font-size: 4rem;
  color: #d3573c;
}

.photograph-header .desc__location {
  font-size: 1.5rem;
  color: #901c1c;
}

.photograph-header .desc__tagline {
  font-size: 1.1;
}

.photograph-header button {
  padding: 1rem 2rem;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: #901c1c;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.photograph-header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.photograph__media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background-color: #fafafa;
  width: 100%;
}

.photograph__media .photograph-media-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  color: #901c1c;
  max-width: 100%;
}

.photograph__media .photograph-media-card img {
  width: 300px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.photograph__media .photograph-media-card video {
  width: 300px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.photograph__media .photograph-media-card .desc__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 0.6rem;
}

.photograph__media .photograph-media-card .desc__wrapper .desc__title {
  max-width: 250px;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.photograph__media .photograph-media-card .desc__wrapper .likes__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photograph__media .photograph-media-card .desc__wrapper .likes__container .likes__number {
  font-size: 1rem;
  margin-right: 0.35rem;
  color: #000000;
}

.photograph__media .photograph-media-card .desc__wrapper .likes__container .likes__icon {
  font-size: 1rem;
}

.photograph-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  right: 2rem;
  width: 376px;
  padding: 1.4rem 2rem;
  background-color: #db8876;
  border-radius: 5px;
}

.photograph-infos .likes__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photograph-infos .likes__container .likes__number {
  font-size: 1.5rem;
  margin-right: 0.35rem;
  color: #000000;
}

.photograph-infos .likes__container .likes__icon {
  font-size: 1.5rem;
}

.photograph-infos .price {
  font-size: 1.5rem;
}

#contactModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(77, 77, 77, 0.4);
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background-color: #db8876;
  width: 100%;
  max-width: 450px;
  margin: 1rem auto;
  padding: 2rem;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  to {
    opacity: 1;
  }
}

.contact-form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1rem;
  width: 100%;
}

.contact-form__header img {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 1rem;
  cursor: pointer;
}

.contact-form__header h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

form .form__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  width: 100%;
  margin: 0.55rem 0;
}

form .form__data label {
  color: #312e2e;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

form .form__data input,
form .form__data textarea {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  outline: none;
}

form .form__data input.data-error,
form .form__data textarea.data-error {
  border: 2px solid red;
  background-color: #f0f0f0;
}

form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #901c1c;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

/* Errors */
.form__data[data-error]::after {
  content: attr(data-error);
  display: block;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 0.75rem;
  color: #ffffff;
  text-align: right;
  line-height: 0.3;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  overflow: auto;
}

.lightbox button {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}

.lightbox button:hover {
  opacity: 0.5;
}

.lightbox__wrapper {
  position: relative;
}

.lightbox.fadeOut {
  opacity: 0;
  display: none;
}

.lightbox__next,
.lightbox__prev {
  background: url(../assets/images/arrow.svg) center center/100% 100% no-repeat;
  width: 1.5rem;
  height: 2.25rem;
  border: none;
  position: absolute;
  top: 50%;
  right: 11.75rem;
  margin-top: -1.125rem;
  z-index: 11;
}

.lightbox__prev {
  right: auto;
  left: 11.75rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.lightbox__close {
  background: url(../assets/images/close.svg) center center/100% 100% no-repeat transparent;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  position: absolute;
  top: 0;
  right: 11.75rem;
  z-index: 12;
}

.lightbox__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 2rem 12rem;
  min-height: 100vh;
}

.lightbox__container img {
  max-width: 1040px;
  max-height: 1040px;
  height: auto;
}

.lightbox__title {
  margin-top: 1rem;
  width: 100%;
  max-width: 1040px;
  font-size: 1.5rem;
  color: #901c1c;
}

.lightbox__loader {
  width: 3rem;
  height: 3rem;
  opacity: 0.75;
  background: url("../assets/images/loader.svg") center center no-repeat;
}

/*=============== For tablet devices ===============*/
/*# sourceMappingURL=global.css.map */